$font-family-base: 'Titillium Web', sans-serif;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// as we need colors, add them here
$cyan: #66fcf1 !default;
$dark-cyan: #45a29e !default;
$slate-gray: #c5c6c7 !default;
$gray-base: #1f2833 !default;
$black-base: #0b0c10 !default;

// as we have themes, set them here
$body-bg: $slate-gray !default;
$body-color: $black-base !default;
